# URL e Key Pública do Banco de Dados Supabase
VITE_SUPABASE_URL=sua_url_do_supabase_aqui
VITE_SUPABASE_PUBLISHABLE_KEY=sua_chave_anon_do_supabase_aqui

# API Key gratuita da Groq (Llama 3)
VITE_GROQ_API_KEY=sua_chave_groq_aqui
